ul.tasks {
    padding: 1.8rem;
}

ul.tasks li {
    display: flex;
}

ul.tasks li .label {
    margin-top: 2px;
    margin-left: 10px;
    min-width: 80%;
}

ul.tasks li .status {
    display:inline-flex;
    width:20px;
    height: 20px;
    border-radius: 50%;
}

ul.tasks li .status:hover {
    border: 2px solid #82cc78;
    background: #82cc78;
}

ul.tasks li .status.open {
    border: 2px solid #ccc;
}

ul.tasks li .status.complete {
    border: 2px solid #82cc78;
    background: #82cc78;
}

.form-container {
    margin: 0 20px 20px 20px;
    display:flex;

}
.form-container .task-input-field {
    max-width: 80%;
    border-radius: 2px;
}
.form-container .actions-toolbar {
    margin-left: 5px;
}
