<!-- ko if: ($data.tasks) -->
<ul class="tasks">
    <li repeat="foreach: tasks, item: 'task'">
        <a data-bind="
             attr: {
                class: 'status ' + (task().status ? 'complete' : 'open' ),
                'data-id': task().id
             },
             click: switchStatus
            " ></a>
        <span class="label" translate="task().label"/>
        <a class="action delete" data-bind="
        attr: {
            'data-id': task().id
        }
">Delete</a>
    </li>
</ul>
<!-- /ko -->
