<div class="form-container">
    <input type="text"
           class="task-input-field"
           id="todo-task-input"
           name="task" value=""
           data-bind="
           value: newTaskLabel,
           event: {'keyup': checkKey}
           "
           placeholder="Add a new task..."
    />
    <!--  ko-value="newTaskLabel" -->
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button"
                    title="Add Task"
                    class="action save primary"
                    id="add-new-task-button"
                    data-bind="click: addTask"
            ><span>Add Task</span></button>
        </div>
    </div>
</div>

<!-- ko if: ($data.tasks) -->
<ul class="tasks">
    <li repeat="foreach: tasks, item: 'task'">
        <a data-bind="
             attr: {
                class: 'status ' + (task().status ? 'complete' : 'open' ),
                'data-id': task().id
             },
             click: switchStatus
            " ></a>
        <span class="label" translate="task().label"/>
        <a class="action delete" data-bind="
        attr: {
            'data-id': task().id
        },
        click: deleteTask.bind($data, task().id)
">Delete</a>
    </li>
</ul>
<!-- /ko -->
