<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="MageMastery\Todo\Api\TaskManagementInterface" type="MageMastery\Todo\Service\TaskManagement"/>
   <preference for="MageMastery\Todo\Api\TaskRepositoryInterface" type="MageMastery\Todo\Service\TaskRepository"/>
   <preference for="MageMastery\Todo\Api\Data\TaskInterface" type="MageMastery\Todo\Model\Task"/>
   <preference for="MageMastery\Todo\Api\Data\TaskSearchResultInterface" type="MageMastery\Todo\Model\ResourceModel\Task\Collection"/>
</config>
